.main {
    height: calc(100vh - 110px);

    padding: 1.5rem;
    margin-top: 0.5rem;
}

.header {


    h2 {
        font-weight: 600;
        font-size: 22px;
    }

    p {
        color: var(--gray);
    }
}

.container {
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
}

.sidebar {
    background-color: white;
    border: 1px solid var(--border);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    width: 280px;


    h3 {
        font-weight: 500;
        font-size: 16px;
    }
}

.search {
    input {
        border: 1px solid var(--border);
        border-radius: 0.5rem;
        width: 100%;
        padding: 0.5rem 0.75rem;
        outline: none;
        margin-top: 0.5rem;
    }
}

.skills {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    margin: 8px 0;

    p {
        background-color: rgba(165, 137, 250, 0.3);
        font-size: 14px;
        padding: 4px 10px;
        border-radius: 6px;
        cursor: default;
    }
}


.options {
    font-size: 14px;
    margin-bottom: 0.75rem;


    .toggleOption {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
        padding-left: 4px;
        justify-content: space-between;
    }

    .toggleSwitch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 22px;
        margin-right: 8px;

        input {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked+.slider {
                background-color: #9b84fa;

                &:before {
                    transform: translateX(18px);
                    background-color: white;
                }
            }

            &:focus+.slider {
                box-shadow: 0 0 1px #9b84fa;
            }
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #e4e4e4;
        transition: 0.3s;
        border-radius: 34px;

        &:before {
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            transition: 0.3s;
            border-radius: 50%;
        }
    }

    .label {
        font-size: 14px;
        color: #333;
        font-weight: 500;
    }

    .ycLabel {
        display: flex;
        gap: 4px;

        img {
            height: 20px;
            width: auto;
        }
    }
}

.clear,
.selectSkills {
    background: none;
    color: var(--gray);
    border: 1px solid var(--border);
    font-size: 14px;
    padding: 8px 16px;
    width: 100%;

    &:hover {
        background: none;
        color: var(--foreground);
    }
}

.selectSkills {
    border-color: var(--primary);
    color: var(--primary);
    margin-top: 0.5rem;

    &:hover {
        background-color: var(--primary);
        color: #fff;
    }
}

.repos {
    >p {
        color: var(--gray);
        font-size: 14px;
    }
}