:root {
  --background: #f9f9fb;
  --foreground: #0d162f;
  --border: #e6e7ea;
  --primary: #a689fa;
  --primary2: #a774ff;
  --gray: #868a97;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
  max-width: 1280px;
  margin: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  color: var(--background);
  background: linear-gradient(to bottom, var(--primary2), var(--primary));
  color: white;
  padding: 10px 20px;
  font-family: var(--font-poppins), sans-serif;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  transition: all 0.15s ease-out;

  &:hover {
    background: linear-gradient(to top, var(--primary2), var(--primary));
    opacity: 0.9;
  }

  &:active {
    box-shadow: none;
    transform: translateX(3px) translateY(3px);
  }

  &:disabled {
    opacity: 0.75;
    cursor: not-allowed;
    transform: none;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  }
}

input {
  background-color: transparent;
  border: none;
  font-family: var(--font-poppins), sans-serif;
  font-size: 14px;
}
