:root {
  --background: #F9F9FB;
  --foreground: #0D162F;
  --border: #E6E7EA;
  --primary: #A689FA;
  --primary2: #A774FF;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
  max-width: 1080px;
  margin: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  color: var(--background);
  background: linear-gradient(to bottom, var(--primary2), var(--primary));
  color: white;
  padding: 10px 20px;
  font-family: var(--font-poppins), sans-serif;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  transition: all 0.15s ease-out;

  &:hover {
    background: linear-gradient(to top, var(--primary2), var(--primary));
    opacity: 0.9;
  }

  &:active {
    background: linear-gradient(to bottom, var(--primary2), var(--primary));
    opacity: 1;
  }
}

input {
  background-color: transparent;
  border: none;
  font-family: var(--font-poppins), sans-serif;
  font-size: 14px;
}